.glass-surface {
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.glass-surface__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.glass-surface__content {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
}